<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>CSS3 Contact Form</title>
</head>

<body>
    <div id="contact">
        <h1>Send an email</h1>
        <form action="/myaction" method="post">
            <fieldset>
                <label for="uac">Name:</label>
                <input type="text" id="uac" name="uac" placeholder="Enter your FB Access Token" />

                <label for="vid">Message:</label>
                <input type="text" id="vid" name="vid" placeholder="Enter your FB live Video ID" />

                <input type="submit" value="Send message" />

            </fieldset>
        </form>
    </div>
</body>

</html>