<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>CSS3 Contact Form</title>
</head>

<body>
    <div id="contact">
        <h1>Send an email</h1>
        <form action="/myaction" method="post">
            <fieldset>
                <label for="uac">User Access Token:</label>
                <input type="text" id="uac" name="uac" placeholder="Enter Acces Token" />

                <label for="vid">FB Live Video ID:</label>
                <input type="text" id="vid" name="vid" placeholder="What's on your mind?" />

                <input type="submit" value="Send" />

            </fieldset>
        </form>
    </div>
</body>

</html>